# Configuración de PHP: aumentar max_input_vars si es necesario
php_value max_input_vars 5000

# Configuración de reescritura para Moodle
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir tráfico no deseado hacia index.php
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
